In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/credit-card-customer-churn-prediction/Churn_Modelling.csv

In [2]:
import pandas as pd
data = pd.read_csv("/kaggle/input/credit-card-customer-churn-prediction/Churn_Modelling.csv")

In [3]:
data.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [4]:
data.drop(columns = ['RowNumber','CustomerId','Surname'], inplace = True)

In [5]:
data.head(2)

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0

In [6]:
data['Geography'].value_counts()

Geography
France     5014
Germany    2509
Spain      2477
Name: count, dtype: int64

In [7]:
data['Gender'].value_counts()

Gender
Male      5457
Female    4543
Name: count, dtype: int64

In [8]:
data = pd.get_dummies(data, columns= ['Geography','Gender'], drop_first = True)

In [9]:
data[['Geography_Germany','Geography_Spain','Gender_Male']] = data[['Geography_Germany','Geography_Spain','Gender_Male']].astype(int)

In [10]:
data.head()

,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_Germany,Geography_Spain,Gender_Male
0,619,42,2,0.00,1,1,1,101348.88,1,0,0,0
1,608,41,1,83807.86,1,0,1,112542.58,0,0,1,0
2,502,42,8,159660.80,3,1,0,113931.57,1,0,0,0
3,699,39,1,0.00,2,0,0,93826.63,0,0,0,0
4,850,43,2,125510.82,1,1,1,79084.10,0,0,1,0

In [11]:
from sklearn.model_selection import train_test_split

In [12]:
X = data.drop(columns = ['Exited'])

In [13]:
X

,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Geography_Germany,Geography_Spain,Gender_Male
0,619,42,2,0.00,1,1,1,101348.88,0,0,0
1,608,41,1,83807.86,1,0,1,112542.58,0,1,0
2,502,42,8,159660.80,3,1,0,113931.57,0,0,0
3,699,39,1,0.00,2,0,0,93826.63,0,0,0
4,850,43,2,125510.82,1,1,1,79084.10,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...
9995,771,39,5,0.00,2,1,0,96270.64,0,0,1
9996,516,35,10,57369.61,1,1,1,101699.77,0,0,1
9997,709,36,7,0.00,1,0,1,42085.58,0,0,0
9998,772,42,3,75075.31,2,1,0,92888.52,1,0,1
9999,792,28,4,130142.79,1,1,0,38190.78,0,0,0

In [14]:
y = data['Exited']

In [15]:
y

0       1
1       0
2       1
3       0
4       0
       ..
9995    0
9996    0
9997    1
9998    1
9999    0
Name: Exited, Length: 10000, dtype: int64

In [16]:
X_train,X_test,y_train,y_test = train_test_split(X,y, test_size=0.2, random_state = 42)

In [17]:
print(type(X_train))

<class 'pandas.core.frame.DataFrame'>

In [18]:
print(type(X_test))

<class 'pandas.core.frame.DataFrame'>

In [19]:
print(type(y_train))

<class 'pandas.core.series.Series'>

In [20]:
print(type(y_test))

<class 'pandas.core.series.Series'>

In [21]:
y_test.ndim

1

In [22]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()

In [23]:
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

In [24]:
print(type(X_train))

<class 'numpy.ndarray'>

In [25]:
import torch.nn as nn
class CustomerChurn(nn.Module):
    def __init__(self):
        super().__init__()
        self.l1 = nn.Linear(11,64)
        self.l2 = nn.Linear(64,32)
        self.l3 = nn.Linear(32,16)
        self.l4 = nn.Linear(16,8)
        self.l5 = nn.Linear(8,1)
        self.relu = nn.ReLU()
        self.sigmoid = nn.Sigmoid()
        
    def forward(self, x):
        x = self.relu(self.l1(x))
        x = self.relu(self.l2(x))
        x = self.relu(self.l3(x))
        x = self.relu(self.l4(x))
        x = self.sigmoid(self.l5(x))
        return x

In [26]:
import torch.optim as optim
loss_function = nn.BCELoss()
model = CustomerChurn()
optimizer = optim.Adam(model.parameters(),lr=0.01)

In [27]:
y_test = y_test.to_numpy()
y_train = y_train.to_numpy()

In [28]:
# Convert to PyTorch tensors
import torch
# Convert X_train and X_test to tensors
X_train = torch.tensor(X_train, dtype=torch.float32)
X_test = torch.tensor(X_test, dtype=torch.float32)

# Convert y_train and y_test to tensors, and add an extra dimension using unsqueeze
y_train = torch.tensor(y_train, dtype=torch.float32).unsqueeze(1)
y_test = torch.tensor(y_test, dtype=torch.float32).unsqueeze(1)

In [29]:
epochs = 100
for epoch in range(epochs):
    model.train()    
      
   # Forward pass
    outputs = model(X_train)
    
    loss = loss_function(outputs, y_train)
    
    optimizer.zero_grad()  
    
    loss.backward()
    optimizer.step()
    
    if (epoch+1) % 10 == 0:
        print(f'Epoch [{epoch+1}/{epochs}], Loss: {loss.item():.4f}')

Epoch [10/100], Loss: 0.4666
Epoch [20/100], Loss: 0.4338
Epoch [30/100], Loss: 0.4173
Epoch [40/100], Loss: 0.3904
Epoch [50/100], Loss: 0.3614
Epoch [60/100], Loss: 0.3308
Epoch [70/100], Loss: 0.3180
Epoch [80/100], Loss: 0.3064
Epoch [90/100], Loss: 0.3025
Epoch [100/100], Loss: 0.2943

In [39]:
# def accuracy_fn(y_true, y_pred):
#     correct = torch.eq(y_true, y_pred).sum().item()
#     acc = (correct / len(y_pred)) * 100
#     return acc
from sklearn.metrics import accuracy_score

In [42]:
model.eval()
with torch.inference_mode():
    y_pred = model(X_test)
   
    predicted = (y_pred >= 0.5).float()
#     print(predicted)
    
    acc = accuracy_score(y_test, predicted)
    print(acc)

0.85